.Shoes>h1{
    text-align: center;
}

.card{
    border-radius: 0;
    border-top: 1px solid black;
}

.card>img{
    border-radius: 0;
    height: 40vh;
}



.card-body{
    border: 1px solid black;
}

.card-body>h5{
    font-size: 1.2rem;
}

.sneakers_items{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    margin-top: 2rem;
    gap: 3.25rem;
}

@media screen and (max-width: 1024px) {
    .sneakers_items{
        grid-template-columns: 1fr 1fr;
        gap: 1.3rem;
}
}
