section>h1{
    text-align: center;
}

.contact_content{
    display: grid;
    width: 80%;
    margin-left: 10%;
    background-color: black;
    grid-template-columns: 30% 70%;
    height: 60vh;
}

.connection{
    background-color: aqua;
}

.form{
    background-color: aquamarine;
}