.top{
    height:50px;
    width: var(--container-width-lg);
    display: flex;
    justify-content: space-between;

}

.top > h1{
    font-size: 2rem;
    color: var(--color-black);
    margin: 4px 0 0 35px;
  }

.top > .search {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    height: 40px;
    margin-top: 10px;
}

.top> div> a{
    color: var(--color-primary);
}

.search>div>a{
    color: var(--color-primary);
}

.profile_icon{
    font-size: 1.7rem;
    margin-top: 12px;
}

.search_icon{
    font-size: 1.7rem;
}

.cart_icon{
    font-size: 1.65rem;
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
    .top{
        display: flex;
        justify-content: space-between;
    }

    .top>h1{
        display: none;
        font-size: 2rem;
        margin: 4px 0 0 0;
    }

    .top > .search {
        margin-top: 9px;
    }

    .profile_icon{
        font-size: 1.7rem;
        margin-top: 11px;
    }
}