@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

.top{
    height:50px;
    width: var(--container-width-lg);
    display: flex;
    justify-content: space-between;

}

.top > h1{
    font-size: 2rem;
    color: var(--color-black);
    margin: 4px 0 0 35px;
  }

.top > .search {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    height: 40px;
    margin-top: 10px;
}

.top> div> a{
    color: var(--color-primary);
}

.search>div>a{
    color: var(--color-primary);
}

.profile_icon{
    font-size: 1.7rem;
    margin-top: 12px;
}

.search_icon{
    font-size: 1.7rem;
}

.cart_icon{
    font-size: 1.65rem;
    margin-top: 0px;
}

.offcanvas-body{
    display: grid;
    grid-template-rows: 20% 67% 10%;
    gap: 3%;
    width: 80%;
    margin-left: 10%;
}

.profile_photo{
    background-color: transparent;
    width: 50%;
    margin-left: 25%;
    border: 1px solid black;
}

.profile_photo>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.profile_content{
    border: 1px solid black;
    padding: 1rem;
}

.profile_content>h5{
    padding: .8rem 0 .8rem 0;
    font-size: 1rem;
}

.profile_content>h5>span{
    font-size: .8rem;
    color: var(--color-gray);
}

.change_button{
    margin-left: 15%;
}


@media screen and (max-width: 600px) {
    .top{
        display: flex;
        justify-content: space-between;
    }

    .top>h1{
        display: none;
        font-size: 2rem;
        margin: 4px 0 0 0;
    }

    .top > .search {
        margin-top: 9px;
    }

    .profile_icon{
        font-size: 1.7rem;
        margin-top: 11px;
    }
}