.top{
    height:50px;
    width: var(--container-width-lg);
    display: flex;
    justify-content: space-between;
}

.top > h1{
    font-size: 2rem;
    color: var(--color-black);
    margin: 4px 0 0 0;
  }

.top > .search {
    display: flex;
    margin-top: 5px;
    justify-content: flex-end;
    gap: 2rem;
    height: 40px;
    margin-top: 5px;
}

.search > .btn{
    text-align: center;
    padding:.375rem.75rem;
}

@media screen and (max-width: 600px) {
    .container .top{
        display: flex;
        justify-content: space-between;
    }

    .top>h1{
        font-size: 1.5rem;
        margin: 7px 0 0 0;
    }

    .top > .search {
        margin-top: 5px;
        gap: 2rem;
        height: 30px;
        margin-top: 9px;
        margin-left: 40px;
        width: 100%;
        gap: 3px;
    }

    .search > .btn{
        padding:.105rem.75rem;
    }
}