.Men>h1{
    text-align: center;
}

.card{
    border-radius: 0;
    border-top: 1px solid black;
}

.card-body{
    border: 1px solid black;
}

.mens_items{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    margin-top: 2rem;
    gap: 3.25rem;
}