
.contents{
    display: grid;
    grid-template-columns: 49% 49%;
    height: 120vh;
    gap: 2%;
}

div>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item1{
    width:100%;
    overflow: hidden;
    grid-row: 1/3;
}

.item2{
    width: 100%;
    overflow: hidden;
}

.item3{
    width: 100%;
    overflow: hidden;
}

.second_content{
    margin-top:2rem;
}

.second_content>h1{
    color: var(--color-black);
    text-align: center;
}

.second_content_field{
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 5%;
    height: 80vh;
    margin-top: 2rem;
}

.second_content_image{
    overflow: hidden;
}

.second_content_description:hover{
    background-color: var(--color-light);
    border-radius: 2rem;
    transition: var(--transition);
    cursor: pointer;
}

.description > h1{
    color: var(--color-primary);
    font-size: 3rem;
    text-align: center;
    margin-top: 1.8rem;
}

.description > h2{
    color: var(--color-black);
    text-align: center;
    font-size: 3rem;
}

.description > p{
    color: var(--color-gray);
    text-align: center;
    margin-top: 1.5rem;
}

.description > p>span{
    color: var(--color-primary);
    font-size: larger;
}

.accordian{
    height: 60vh;
    display: grid;
    grid-template-rows: 14% 86%;
}

.accordian_shoe{
    height: 66vh;
    display: grid;
    grid-template-rows: 14% 86%;
}


.first_accordian_title{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.first_accordian_title>h1{
    font-size: 2rem;
    padding: 0.8rem 0 0 0.5rem;
}

.first_accordian_title>hr{
    width: 10vh;
    color: rgb(231, 181, 88);
    font-family: 'Courier New', Courier, monospace;
}

.first_accordian_title>h5{
    font-size: 1.2rem;
    padding: 1.5rem 0.5rem 0 0;
    color: gray;
}

.first_accordian_title > .view{
    padding-right: 0.5rem;
}

.items_men{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 31px;
}
.items_women{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 31px;
}

.card>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}


.card-body{
    background-color: rgb(240, 240, 240);
}

.card-body>a{
    border-radius: 0%;
}

.stackedImages{
    height: 100vh;
    width: 100%;
    display: flex;
}


.first{
    height: 90vh;
    width: 23%;
    margin-top: 5vh;
    overflow: hidden;
}

.second{
    height: 80vh;
    width: 54%;
    margin-top: 10vh;
    overflow: hidden;
}

.third{
    height: 90vh;
    width: 23%;
    margin-top: 5vh;
    overflow: hidden;
}

.map{
    margin-top: 1.5rem;
    height: 60vh;
    width: 100%;
    border: 2px solid black;
}

.map>iframe{
    height: 100%;
    width: 100%;
}









